* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    overflow: hidden;
    height: 100%;
}

.wrap,
.container {
    border-radius: 12px;
    padding: 24px;
    width: 38%;

    font-size: 24px;

    box-shadow: 0 0 25px rgba(203, 203, 203, 0.5);
}

.wrap {
    position: absolute;
    top: 25%;
    left: 50%;

    transform: translate(-50%, 0);
}

.container {
    position: absolute;
    right: 1%;

    width: 58%;
    height: 90%;
}

.input-box {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;

    margin: 0 auto;
    padding: 0 30px;
    max-width: 450px;

    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

h1 {
    margin-bottom: 20px;

    font-size: 20px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 1px;

    color: #b56969;
}


p {
    margin-top: 10px;

    font-size: 12px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;

    color: #b56969;
}

.ip-input {
    display: flex;
    align-items: center;

    border: 2px solid #dfdfdf;
    border-radius: 40px;
    padding: 0 11px;
    height: 40px;

    font-size: 18px;
    text-align: center;

    color: #b56969;
}

input:focus {
    outline-width: 0;
}

table {
    margin-top: 50px;
    border-collapse: collapse;
    width: 100%;

    color: #b56969;
}

caption {
    border-bottom: 1px solid #ddd;
    padding: 20px;

    text-align: left;
}

tr, td {
    border-bottom: 1px solid #ddd;
    padding: 20px;
    width: 40%;

    text-align: left;
}

tr:hover {
    background-color: #f5f5f5;
}
